
    <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>CCR Tweets</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
            <div class="container">
            <h2>Your Upload: </h2>  
            <h3>/Users/officialbiznas/Documents/GitHub/ImageSimilarity/src/uploads/nancy.jpg</h3>
            <img src=/Users/officialbiznas/Documents/GitHub/ImageSimilarity/src/uploads/nancy.jpg alt="Girl in a jacket" width="500" height="600">
            </div>
            <div class="container">
            <h2>Top Three: </h2> 
            XXX>
            </div>
            <div class="container">
            <h2>Perfect Matches: </h2> 
            YYY
            </div>
        </body>
        </html>
    